html, body { 
    height: 100%; 
    width: 100%; 
    margin: auto;
    overflow-x: hidden;
    overflow-y: auto;
}

#header {
    margin-bottom: 0%;
    background-color: white;
    color: #23527c;
    border-bottom: 0px;
}

#navigation {
    margin-bottom: 0%;
    background-color: #23527c;
    border: 0px;
}

#navLogout {
    padding-left: 14px;
    padding-right: 10px;
}

#navUsername {
    padding-left: 14px;
}

/*#nav navbar-nav navbar-right{
    display: inline;
    text-align: right;
    padding-right: 10px;
    padding-left: 10px;
}*/

#menu {
    padding-right: 0%;
    background-color: gainsboro;
    /*color: #23527c;*/
    /*height: 523px;*/
}

#contentRow {
    padding-top: 0%;
}

#contentBody, .container-fluid, .span9 {
    /*height:523px;*/
    overflow-y:auto;
    height:100%;
}

.footer {
    text-align: center;
    color: white;
    background-color: #23527c;
    line-height: 230%;
    height: 5%;
}